@charset "utf-8";
/* CSS Document */
/***************
**响应式重置样式表* 
****************/ 
/* ============================ 重置css样式 ============================ */
/* 清除内外边距 */
body, h1, h2, h3,label, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;

}  
body{
	background: #fff;
}
cite, em, i { font-style: normal; }
/* 重置列表元素 */
ul, ol { list-style: none; }
/* 重置文本格式元素 */
a {
	text-decoration:none;
	cursor:pointer;
	outline:none;
}
/* 重置表单元素 */
legend { color: #000; }
fieldset, img { border: none; }
img{vertical-align:middle;}
/* 重置表格元素 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ========================= 页面常用样式 CSS样式 =========================== */
/*清除浮动*/
.clearfix:after{
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:" ";
}
.clearfix{zoom:1;}

.fl{float:left;}
.fr{float:right;}
/*重置苹果默认按钮样式*/
input,textarea ,select{
  border:0; 
  border-radius:0;
  -webkit-appearance:none;
  outline:none;
  -webkit-tap-highlight-color:transparent;
}
/*清除获取焦点时元素灰色背景及外边框*/
input:focus,select:focus{
  -webkit-tap-highlight-color:transparent;
  outline:none;
}
input:focus{ 
    outline: 0 !important;
}

/*清除移动端点击元素灰色背景*/
a,div,p{-webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
body{-webkit-text-size-adjust:none; color: #666666;}
a{
	color: #231f20;
}
/*设置默认字体 */
b, strong{ 
	font-weight: bold;
}
 
/*重置firefox按钮样式*/
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: none;
}
  
/*placeholder文字默认颜色-webkit-input-placeholder*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #cccccc;  }
::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #cccccc;}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  color: #cccccc;}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {  color: #cccccc;}
html{
	background: #fdfdfd;	
}
body{ font-size:12px; font-family:'Noto Sans TC','Noto+Sans+SC' 'Helvetica Neue', Helvetica, Arial, 'Microsoft Jhenghei', sans-serif; 


color: #333;}
.boxshadow{
	box-shadow:0px 0px 5px rgba(0, 0, 0, 0.16) ;
}
.btn_bg{
	color:#fff;
	border-radius: 50px;
	box-shadow:0px 8px 8px rgba(219, 42, 64, 0.3) ;
	background-image: -khtml-gradient(linear, left, right, from(#a71e2f), to(#db2a40));

		background-image: -moz-linear-gradient(#a71e2f, #db2a40);

		background-image: -ms-linear-gradient(#a71e2f, #db2a40);

		background-image: -webkit-gradient(linear, left, right, color-stop(0%, #a71e2f), color-stop(100%, #db2a40));

		background-image: -webkit-linear-gradient(left,#a71e2f, #db2a40);

		background-image: -o-linear-gradient(left,#a71e2f, #db2a40);

		background-image: linear-gradient(left,#a71e2f, #db2a40);

		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a71e2f, endColorstr=#db2a40);/*IE<9>*/

		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#a71e2f, endColorstr=#db2a40)";/*IE8+*/
}
 


 

 