@media (min-width: 768px){
  .headerCase div{
    line-height: 40px;
  }
  .headerCase div{
    line-height: 44px;
  }
  .headerCase .logo {
    position: absolute;
    left: 55px;
    top: 50%;
    transform: translateY(-50%);
    width: 130px;
    height: 42px  ;
  }
  .tipCase > p{
    padding: 30px 30px 30px 195px;
    font-size: 16px;
  }
  .tipCase img{
    width: 144px;
    height: 120px;
  }
  .headline{
    font-size: 40px;
    padding: 24px 20px 0;
    line-height: 40px;
    margin-bottom: 52px;
  }
  .headline:after{
    left: 20px;
  }
  .navigation{
    top: 70px;
  }
/*  联系我们*/
  .content_inner>div{
    padding-top: 70px;
  }
  .on_duty div p span:first-child{
    width: 176px;
  }
  .call_case ol li{
    width: 280px;
    height: 80px;
  }
  .call_case ol li:nth-child(1), .call_case ol li:nth-child(4){
    margin-right: 20px;
  }
  .call_case ol li:nth-child(1), .call_case ol li:nth-child(2){
    margin-bottom: 16px;
  }
  .map{
    width: 520px;
    height: 400px;
    border-radius: 15px;
  }
  .stp_case li:not(:last-child){
    margin-right: 35px;
  }
  .stp_case li{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0!important;
    padding-top: 104px!important;
    position: relative;
    width: auto!important;
    text-align: center;
  }
  .stp_case li .mark{
    display: block;
    top: 0;
    position: absolute;
    width: 75px;
    line-height: 75px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .stp_case li .mark img{
    width: 45px;
    height: 45px;
  }
  .stp_case li:first-child{
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .stp_case li:first-child .mark_text p{
    padding-top: 15px;
  }
  .stp_case li .mark_text{
    min-height: 44px;
  }
  .stp_case li:not(:last-child) .mark:after{
    width: 150px;
    height: 3px;
    top: 50%;
    left: 100%;
  }
  .footer {
    font-size: 0;
    padding-bottom: 33px;
    padding-top: 33px;
  }
  .footer ul,.footer p{
    display: inline-block;
    width: 50%;
    text-align: left;
    padding-left: 6px;
    vertical-align: middle;
    margin-bottom: 0;
  }
  .footer p{
    text-align: right;
    padding-right: 15px;
  }
}
